@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.ThirdContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background: rgb(27,34,51);
    // background: linear-gradient(213deg, rgba(27,34,51,1) 20%, #060661 44%, rgba(47,50,71,1)83%);
    padding-top: 130px;
    padding-bottom: 80px;
    h3{
        width: 100%;
        max-width: 999px;
        color: #FFF;
        text-align: center;
        font-size: 36px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        line-height: 118%;

        @include device(tablet){
            font-size: 2.5rem;
            margin-bottom: 50px;
            padding: 10px;
        }
    }

    .boxContent{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 120px 20px 120px 20px;
        gap:2rem;

        .card{
            width: 100%;
            max-width: 320px;
            height: 380px;
            background-color: $orangeMain;
            background-image: url('/backgroundCard.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right;
            border-radius: 11px;
            border: 1px solid var(--quadradotranparente, #0B96C2);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 30px;
            position: relative;

            @include device(tablet){
                justify-content: center;
                align-items: center;
                height: 100%;
            }

            .boxText{
                
                h4{
                    color: #FFF;
                    font-size: 30px;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 700;
                    line-height: 90.5%;
                    margin-top: 20px;
                    margin-bottom: 20px;

                    @include device(tablet) {
                        font-size: 2.5rem;
                        text-align: center;
                    }
                }
                p{
                    color: #FFF;
                    font-size: 16px;
                    font-family: 'Montserrat', sans-serif;
                    line-height: 124.5%;
                    margin-bottom: 20px;
                    font-weight: 100;

                    @include device(tablet) {
                        font-size: 1.3rem;
                    }
                }
            }
            .seta{
                position: absolute;
                bottom: 40px;
                right: -45px;
                z-index: 5;
                @include device(tablet) {
                    display: none;
                }
            } 
            .seta2{
                position: absolute;
                top: 50px;
                right: -45px;
                z-index: 5;
                @include device(tablet) {
                    display: none;
                }
            }  
        }
        @include device(tablet) {
            flex-direction: column;
            margin: 0px 10px;
        }
    }
}