@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.meusCursos{
    .meusCursosContent{
        // @include max-width;

        .meusCursosBanner{
            width: 90%;
            // height: 100%;
            // max-height: 750px;
            margin: 0 auto;
        }

        .boxBtnCategorias{
            // @include max-width;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            // display: grid;
            // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            gap: 3rem;
            margin-top: 50px;

            .btnCategorias{
                width: 100%;
                max-width: 226px;
                height: 100px;
                background-color: #0B96C2;
                border: 4px solid #979797;
                text-align: center;
                border-radius: 10px;
                font-size: 1.5rem;
                color: #fff;
                padding: 20px 90px;
                box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover{
                    border: 4px solid #fff;
                    transform: scale(1.1);
                    transition: opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
                }
            }

            @include device(tablet){
                flex-direction: column;
            }
        }

        .boxTitle{
            // @include max-width;
            margin: 100px 0px 25px 125px;
            // margin-top: 100px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            .title{
                font-family: $fontFamily2;
                font-size: 35px;
                font-weight: 500;
                color:$white;
                text-align: left;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;

                @include device(tablet){
                    font-size: 30px;
                }
            }

            .detail{
                width: 10.667px;
                height: 44.444px;
                border-radius: 5.333px;
                background-color: #0B96C2;
                margin: 0 25px;

                @include device(tablet){
                    margin: 0 25px 0 0;
                }
            }

            .boxBtnCursos{
                padding: 0 0 0 50px;

                .btnCursos{
                    margin: 0px 15px;
                    padding: 10px 20px;
                    background-color: transparent;
                    border-radius: 128.235px;
                    border: 1.914px solid #FFF;
                    opacity: 0.20000000298023224;

                    &:hover{
                        color: #FFF;
                        opacity: 1;
                    }

                    &:active{
                        color: #FFF;
                        opacity: 1;
                    }
                }

                @include device(tablet){
                    padding: 0;
                    display: flex;
                    flex-direction: row;
                }
            }
            @include device(tablet){
                // padding: 0;
                display: flex;
                flex-direction: column;
            }

        }

        .meusCursosList{
            // width: 100%;
            @include max-width;
            // height: 100%;
            // display: grid;
            // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            // gap: 2rem;
            // margin: 0 auto;
            // padding: 0;
            // max-width: 100%;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 1.6rem;
            margin: 0 auto;
            padding: 0;
            max-width: 85%;

            @include device(tablet){
                // grid-template-columns: 1fr;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .meusCursosBanner{
                height: 100%;
            }

            .cardCurso{
                width: 100%;
                // max-width: 230px;
                // height: 140px;
                max-width: 430px;
                height: 230px;
                background-image: url('/meusCursos.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 110%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-end;
                border: 4px solid #979797;
                padding: 0px 10px 50px 0px;
                border-radius: 11px;

                h3{
                    color: #FFF;
                    text-align: right;
                    font-size: 16px;
                    font-family: Montserrat;
                    letter-spacing: 1.8px;
                }

                h4{
                    color: #FFF;
                    text-align: right;
                    font-size: 13px;
                    font-family: Montserrat;
                    letter-spacing: 1.5px;
                }

                &:hover{
                    border: 4px solid #fff;
                    transform: scale(1.1);
                    transition: opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
                }
            }
        }

        .btnBuscaMaisCursos{
            display: inline-flex;
            height: 100%;
            padding: 15px 30px;
            align-items: flex-start;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 134px;
            background: #FFC700;
            margin: 100px 0px 25px 150px;

            color: #000;
            font-size: 21.743px;
            font-family: Poppins;

            &:hover{
                background: $colorMain;
                color: #FFF;
            }

            &:active{
                background: $colorMain;
                color: #FFF;
                border:1px solid #fff;
            }

            @include device(tablet){
                font-size: 16px;
            }
        }
    }
}