// cores test
$orangeMain: #121214;
$orangeMedium: #ffc800;
$lightOrange: #fa7935;
$white: #ffffff;

// Cores do Projeto
$colorMain:#0097c5;
$colorSecond: #ffc800;
$colorMedium: #EAE9FF;
$black:#000;
$white: #ffffff;


// fontes
$fontFamily: 'Montserrat', sans-serif;
$fontFamily2: 'Poppins', sans-serif;
