@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.footer {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 10px;
  margin:0 auto;
  color: $black;
  background-color: $white;
  list-style: none;

  .logo{
    background-color: $colorMain;
    border-radius: 5px;
  }

  div{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: flex-start;
    padding-top: 20px;

    ul{
      li{
        display: flex;
        flex-direction: column;
        a{
          padding: 20px 0 0 0;
          &:hover{
            transition: all 0.2s ease-out;
            color: $colorMain;
          }
        }
      }
    }
  }
  .social{
    .link{
      padding: 0 0 0 10px;
      &:hover{
        transition: all 0.2s ease-out;
        color: $colorMain;
      }
      i{
        font-size: 20px;
        // padding: 10px;
      }
    }
  }
  @include device(tablet) {
    flex-direction: column;
    height: 100%;
}
}
