@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.Banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 180px 30px 150px 30px;

    .BannerText{
        margin: 0 50px 0 0;
        text-align: left;
        h2{
            font-family: 'Montserrat', sans-serif;
            color: $colorSecond;
            
            font-size: 4rem;
            font-weight: 400;
            line-height: 110.5%;
        }
        h3{
            font-size: 2rem;
            font-family: 'Poppins', sans-serif;
            font-weight: 100;
            margin-top: 40px;
            color: $colorMedium;
            line-height: 110.5%;
        }
        .btnBanner{
            background-color: $colorMain;
            display: flex;
            width: 300px;
            height: 76px;
            padding: 10px 30px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 40px;
            margin-top: 43px;

            color: $white;
            text-align: center;
            font-size: 1.8rem;
            font-family: 'Poppins', sans-serif;
            line-height: 112.5%;
        }
    }

    .BannerImg{
        border: 10px solid #102c37;
        border-radius: 10px;
    }
}